In [2]:
#importing relavent libraries
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as pl
import seaborn as sns
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [5]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

##  Part 1 - understanding and cleaning the data

## Explanation for all columns

**age**  -     The age of the insured client

**sex**   -    The Gender of the insured client

**BMI**   - Body Mass Index ,  is a value derived from the mass (weight) and height of a person. This value influences the                 health of a given person. Generally a good bmi is between 18.5 to 25

**children**        -  Number of children covered by health insurance / Number of dependents.

**smoker**             - Whether the insured customer has smokes or not.

**region**     -   The beneficiary's residential area in the US -  northeast, southeast, southwest and northwest.

**charges**     -  The amount paid periodically to the insurer by the insured client.

#### Lets start examining the data

In [16]:
df.shape
#1338 rows , 7 columns

(1338, 7)

In [17]:
df.isnull().sum()
#Great! no null values

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [18]:
df.dtypes
#3 non numerical values , 2 of them are easy to deal with since they are yes or no values

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [19]:
df.describe()
#Wanting to get an idea of what is a regular price for the health insurence, and other information, df.describe() is very helpful

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

Are data is pretty clean , and we now have a good understanding of it. Therefore we can move on to visualizing.